<template>
  <div class="full">
    <v-dialog
      v-model="dialog"
      fullscreen
      hide-overlay
      transition="dialog-bottom-transition"
      overlay-color="white"
    >
      <v-card>
        <v-toolbar flat>
          <v-btn class="deep-purple--text" icon @click="dialog = false">
            <v-icon>mdi-arrow-left</v-icon>
          </v-btn>
          <v-spacer />
          <v-toolbar-title>
            <span
              class="text-uppercase subtitle-1 font-weight-bold deep-purple--text"
              style="letter-spacing: 4px !important; user-select: none;"
            >Profile</span>
          </v-toolbar-title>
          <v-spacer />
          <v-btn class="transparent--text" style="cursor: none;" icon>
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-toolbar>
        <!-- <div style="display: flex; align-items: center; flex-direction: column;">
          <h4>Email: {{ userEmail }}</h4>
        </div>-->
        <div style="display: flex; justify-content: center;">
          <v-btn
            class="deep-purple white--text mb-2"
            style="width: 300px; letter-spacing: 2px;"
            large
            @click="logout"
          >Logout</v-btn>
        </div>
      </v-card>
    </v-dialog>
    <v-app-bar short flat fixed>
      <v-toolbar-title>
        <span
          class="title font-weight-bold deep-purple--text"
          style="letter-spacing: 1px !important; user-select: none;"
        >History</span>
      </v-toolbar-title>
      <v-spacer />
      <v-btn class="deep-purple--text" icon @click="dialog = true">
        <v-icon>mdi-account-circle-outline</v-icon>
      </v-btn>
    </v-app-bar>

    <div class="inner-contain">
      <div class="history-list">
        <v-expansion-panels style="width: 100%;" accordion tile>
          <v-expansion-panel
            style="elevation: 0; max-width: 500px;"
            v-for="(item,i) in this.$store.state.history"
            :key="i"
          >
            <v-expansion-panel-header class="py-2 px-4">
              <div>
                <div style="display: flex;">
                  <p
                    class="subtitle-1 deep-purple--text mb-0"
                  >{{(item.topic.charAt(0).toUpperCase() + item.topic.slice(1)).replace(/_/g, ' of ')}}</p>
                  <v-icon v-if="item.status" class="ml-2 green--text" size="20">mdi-check</v-icon>
                  <v-icon v-else class="ml-2 red--text" size="20">mdi-close</v-icon>
                </div>
                <p class="mb-0 overline">{{item.date}}</p>
              </div>
            </v-expansion-panel-header>
            <v-expansion-panel-content class="px-4">
              <p class="mb-1 title deep-purple--text">{{item.problem.problem}}</p>
              <p class="mb-3 display-1" style="color: #757575">{{item.problem.solution}}</p>
            </v-expansion-panel-content>
          </v-expansion-panel>
        </v-expansion-panels>
        <!-- <v-btn @click="getHistory">Get history</v-btn> -->
      </div>
    </div>
  </div>
</template>

<script>
import firebase from "firebase";

export default {
  name: "History",
  data: () => ({
    dialog: false
  }),
  mounted() {},
  methods: {
    logout() {
      const user = firebase.auth().currentUser;

      if (user.isAnonymous) {
        user.delete().catch(function(error) {
          // An error happened.
        });
      } else {
        firebase
          .auth()
          .signOut()
          .then(
            function(test) {},
            function(error) {
              console.log(error);
            }
          );
      }
    },
    getHistory() {
      console.log(this.$store.state.history);
    }
  }
};
</script>

<style scoped>
.full {
  width: 100%;
  height: calc(100vh - 56px);
  padding-top: 56px;
  overflow-y: auto;
}
.inner-contain {
  width: 100%;
  height: calc(100vh - 112px);
  display: flex;
  justify-content: center;
  /* background: red; */
}
.history-list {
  height: calc(100vh - 112px);
  width: 500px;
  /* background: red; */
}
</style>

<style>
.v-expansion-panel-content__wrap {
  padding: 0px !important;
}
.v-expansion-panel::before {
  box-shadow: none !important;
}
</style>
