<template>
</template>

<script>

export default {
  name: "Home",
  data: () => ({}),
  mounted() {
    // const diagram = new Diagram();
    // diagram.init();
  },
  methods: {
  
  }
};
</script>
