<template>
  <div class="full">
    <div class="half d-none d-sm-none d-md-flex" style="width:50%;">
      <div class="bg-overlay"></div>
      <div class="bg"></div>
    </div>
    <div class="half center" style="flex-grow: 1;">
      <v-container style="width:350px;">
        <v-row>
          <v-col style="display: flex; flex-direction: column;" v-if="registerPrompt === 0">
            <v-form>
              <h1
                class="deep-purple--text text-uppercase display-1 font-weight-bold"
                style="user-select: none; letter-spacing: 6px !important;"
              >Maxima</h1>
              <v-alert
                transition="scale-transition"
                origin="center center"
                :value="loginErrorPrompt"
                dense
                prominent
                class="mb-5 mt-4"
                type="error"
              >{{ loginError }}</v-alert>
              <v-text-field
                class="mt-5"
                v-model="loginEmail"
                :error-messages="loginEmailErrors"
                @input="$v.loginEmail.$touch()"
                @blur="$v.loginEmail.$touch()"
                outlined
                label="Email"
                required
                append-icon="mdi-email-outline"
                type="email"
              ></v-text-field>
              <v-text-field
                v-model="loginPassword"
                :error-messages="loginPasswordErrors"
                @input="$v.loginPassword.$touch()"
                @blur="$v.loginPassword.$touch()"
                outlined
                label="Password"
                required
                append-icon="mdi-lock-outline"
                type="password"
              ></v-text-field>
              <v-btn
                :loading="loginLoading"
                large
                block
                class="deep-purple white--text mb-2"
                style="letter-spacing: 2px;"
                @click="login"
              >Login</v-btn>
              <div style="display: flex; justify-content: center;" class="mt-5 mb-4">
                <v-btn
                  @click="loginGoogle"
                  :loading="loginGoogleLoading"
                  color="red"
                  class="ma-2 white--text"
                >
                  <v-icon left dark>mdi-google</v-icon>Google
                </v-btn>
                <v-btn
                  @click="loginAnon"
                  :loading="loginAnonLoading"
                  color="blue-grey"
                  class="ma-2 white--text"
                >
                  <v-icon left dark>mdi-incognito</v-icon>Guest
                </v-btn>
              </div>
              <p class="text-center grey--text" style="user-select: none;">
                Don't have an account?
                <span
                  @click="goRegister"
                  style="cursor: pointer;"
                  class="deep-purple--text"
                >Sign up</span>
              </p>
              <p
                @click="registerPrompt = 2"
                style="user-select: none; cursor: pointer;"
                class="text-center deep-purple--text"
              >Forgot your password?</p>
            </v-form>
          </v-col>
          <v-col style="display: flex; flex-direction: column;" v-if="registerPrompt === 1">
            <v-btn
              @click="backToLogin"
              class="mt-4 ml-4 deep-purple--text"
              icon
              style="position: absolute; left: 0; top: 0;"
            >
              <v-icon>mdi-arrow-left</v-icon>
            </v-btn>
            <v-form>
              <h1
                class="deep-purple--text text-uppercase display-1 font-weight-bold"
                style="user-select: none; letter-spacing: 6px !important;"
              >Maxima</h1>
              <h2 class="deep-purple--text text-uppercase mb-4 title">Register</h2>
              <v-alert
                transition="scale-transition"
                origin="center center"
                :value="registerErrorPrompt"
                dense
                prominent
                class="mb-5 mt-4"
                type="error"
              >{{ registerError }}</v-alert>
              <v-text-field
                class="mt-4"
                v-model="registerEmail"
                :error-messages="registerEmailErrors"
                @input="$v.registerEmail.$touch()"
                @blur="$v.registerEmail.$touch()"
                outlined
                label="Email"
                required
                append-icon="mdi-email-outline"
                type="email"
              ></v-text-field>
              <v-text-field
                v-model="registerPassword"
                :error-messages="registerPasswordErrors"
                @input="$v.registerPassword.$touch()"
                @blur="$v.registerPassword.$touch()"
                outlined
                label="Password"
                required
                append-icon="mdi-lock-outline"
                type="password"
              ></v-text-field>
              <v-text-field
                v-model="registerConfirmPassword"
                :error-messages="registerConfirmPasswordErrors"
                @input="$v.registerConfirmPassword.$touch()"
                @blur="$v.registerConfirmPassword.$touch()"
                outlined
                label="Confirm Password"
                required
                append-icon="mdi-lock-outline"
                type="password"
              ></v-text-field>
              <v-btn
                :loading="registerLoading"
                large
                block
                class="deep-purple white--text mb-2"
                style="letter-spacing: 2px;"
                @click="register"
              >Register</v-btn>
            </v-form>
          </v-col>
          <v-col style="display: flex; flex-direction: column;" v-if="registerPrompt === 2">
            <v-form>
              <v-btn
                @click="backToLogin"
                class="mt-4 ml-4 deep-purple--text"
                icon
                style="position: absolute; left: 0; top: 0;"
              >
                <v-icon>mdi-arrow-left</v-icon>
              </v-btn>
              <h1
                class="deep-purple--text text-uppercase display-1 font-weight-bold"
                style="user-select: none; letter-spacing: 6px !important;"
              >Maxima</h1>
              <h2 class="deep-purple--text text-uppercase mb-4 title">Enter your email</h2>
              <v-text-field
                class="mt-5"
                v-model="forgetPasswordEmail"
                :error-messages="forgetPasswordEmailErrors"
                @input="$v.forgetPasswordEmail.$touch()"
                @blur="$v.forgetPasswordEmail.$touch()"
                outlined
                label="Email"
                required
                append-icon="mdi-email-outline"
                type="email"
              ></v-text-field>
              <v-btn
                :loading="loginLoading"
                large
                block
                class="deep-purple white--text mb-2"
                style="letter-spacing: 2px;"
                @click="forgotPassword"
              >Send</v-btn>
            </v-form>
          </v-col>
          <v-col style="display: flex; flex-direction: column;" v-if="registerPrompt === 3">
            <v-btn
                @click="backToLogin"
                class="mt-4 ml-4 deep-purple--text"
                icon
                style="position: absolute; left: 0; top: 0;"
              >
                <v-icon>mdi-arrow-left</v-icon>
              </v-btn>
              <h1
                class="deep-purple--text text-uppercase display-1 font-weight-bold"
                style="user-select: none; letter-spacing: 6px !important;"
              >Maxima</h1>
              <h2 class="deep-purple--text mb-2 text-uppercase title">Email sent</h2>
              <h2 class="blue-grey--text mb-4 text-uppercase subtitle-2">Check your email to reset your password</h2>
            <v-btn
                large
                block
                class="deep-purple white--text mb-2"
                style="letter-spacing: 2px;"
                @click="backToLogin"
              >Back to login</v-btn>
          </v-col>
        </v-row>
      </v-container>
    </div>
  </div>
</template>

<script>
import firebase from "firebase";
import { api_auth } from "../api";
import { required, minLength, sameAs, email } from "vuelidate/lib/validators";

export default {
  name: "Login",
  data: () => ({
    loginEmail: "",
    loginPassword: "",
    registerEmail: "",
    registerPassword: "",
    registerConfirmPassword: "",
    forgetPasswordEmail: "",
    loginError: "",
    registerError: "",
    loginErrorPrompt: false,
    registerErrorPrompt: false,
    registerPrompt: 0,
    loginLoading: false,
    registerLoading: false,
    loginGoogleLoading: false,
    loginAnonLoading: false
  }),
  validations: {
    loginEmail: { required, email },
    loginPassword: { required },
    registerEmail: { required, email },
    registerPassword: { required },
    registerConfirmPassword: { sameAsPassword: sameAs("registerPassword") },
    forgetPasswordEmail: { required, email },
    loginGroup: ["loginEmail", "loginPassword"],
    registerGroup: [
      "registerEmail",
      "registerEmail",
      "registerConfirmPassword"
    ],
    forgetPasswordGroup: ["forgetPasswordEmail"]
  },
  computed: {
    loginEmailErrors() {
      const errors = [];
      if (!this.$v.loginEmail.$dirty) return errors;
      !this.$v.loginEmail.email && errors.push("Email must be valid");
      !this.$v.loginEmail.required && errors.push("Email is required");
      return errors;
    },
    loginPasswordErrors() {
      const errors = [];
      if (!this.$v.loginPassword.$dirty) return errors;
      !this.$v.loginPassword.required && errors.push("Password is required");
      return errors;
    },
    registerEmailErrors() {
      const errors = [];
      if (!this.$v.registerEmail.$dirty) return errors;
      !this.$v.registerEmail.email && errors.push("Email must be valid");
      !this.$v.registerEmail.required && errors.push("Email is required");
      return errors;
    },
    registerPasswordErrors() {
      const errors = [];
      if (!this.$v.registerPassword.$dirty) return errors;
      !this.$v.registerPassword.required && errors.push("Password is required");
      return errors;
    },
    registerConfirmPasswordErrors() {
      const errors = [];
      if (!this.$v.registerConfirmPassword.$dirty) return errors;
      !this.$v.registerConfirmPassword.sameAsPassword &&
        errors.push("Password does not match");
      return errors;
    },
    forgetPasswordEmailErrors() {
      const errors = [];
      if (!this.$v.forgetPasswordEmail.$dirty) return errors;
      !this.$v.forgetPasswordEmail.email && errors.push("Email must be valid");
      !this.$v.forgetPasswordEmail.required && errors.push("Email is required");
      return errors;
    }
  },
  methods: {
    login() {
      this.$v.$touch();
      if (!this.$v.loginGroup.$invalid) {
        this.loginLoading = true;
        firebase
          .auth()
          .signInWithEmailAndPassword(this.loginEmail, this.loginPassword)
          .then(data => {
            this.loginErrorPrompt = false;
            this.loginLoading = false;
            this.$router.replace("/").catch(e => {});
          })
          .catch(err => {
            this.loginErrorPrompt = true;
            this.loginLoading = false;
            switch (err.code) {
              case "auth/network-request-failed":
                this.loginError = "You are offline. Please try again.";
                break;
              case "auth/wrong-password":
                this.loginError = "The password is invalid.";
                break;
              case "auth/user-not-found":
                this.loginError = "Account does not exist.";
                break;
              case "auth/internal-error":
                this.loginError =
                  "An internal error occurred. Please try again.";
                break;
            }
          });
      }
    },
    loginGoogle() {
      const provider = new firebase.auth.GoogleAuthProvider();
      this.loginGoogleLoading = true;

      firebase
        .auth()
        .signInWithPopup(provider)
        .then(result => {
          // This gives you a Google Access Token. You can use it to access the Google API.
          var token = result.credential.accessToken;
          // The signed-in user info.
          var user = result.user;
          this.loginGoogleLoading = false;
          this.$router.replace("/").catch(e => {});
        })
        .catch(error => {
          this.loginGoogleLoading = false;
        });
    },
    loginAnon() {
      this.loginAnonLoading = true;

      firebase
        .auth()
        .signInAnonymously()
        .then(result => {
          this.loginAnonLoading = false;
          this.$router.replace("/").catch(e => {});
        })
        .catch(err => {
          this.loginAnonLoading = false;
        });
    },
    register() {
      this.$v.$touch();
      if (!this.$v.registerGroup.$invalid) {
        this.registerLoading = true;
        firebase
          .auth()
          .createUserWithEmailAndPassword(
            this.registerEmail,
            this.registerPassword
          )
          .then(result => {
            this.registerErrorPrompt = false;
            this.registerLoading = false;
            this.$router.replace("/").catch(e => {});
          })
          .catch(err => {
            this.registerErrorPrompt = true;
            this.registerLoading = false;

            switch (err.code) {
              case "auth/weak-password":
                this.registerError = "Password is not secure";
              case "auth/email-already-in-use":
                this.registerError = "Account is already registered";
                break;
            }
          });
      }
    },
    forgotPassword() {
      this.$v.$touch();
      if (!this.$v.forgetPasswordGroup.$invalid) {
        firebase.auth()
          .sendPasswordResetEmail('mh.silvine@gmail.com')
          .then(function(test) {
            console.log(test);
          })
          .catch(function(error) {
            console.log(error)
          });
      }
    },
    backToLogin() {
      this.registerErrorPrompt = false;
      this.resetFields();
      this.registerPrompt = 0;
    },
    goRegister() {
      this.loginErrorPrompt = false;
      this.resetFields();
      this.registerPrompt = 1;
    },
    resetFields() {
      this.$v.$reset();
      this.loginEmail = "";
      this.loginPassword = "";
      this.registerEmail = "";
      this.registerPassword = "";
      this.registerConfirmPassword = "";
    }
  }
};
</script>

<style scoped>
.full {
  width: 100%;
  height: 100vh;
  display: flex;
  background: white;
}
.bg-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  /* background: rgba(128, 84, 203, 0.9); */
  background: linear-gradient(
    to bottom right,
    rgb(216, 112, 203),
    rgb(90, 63, 136)
  );
  box-shadow: inset -12px 0px 83px 0px rgba(0, 0, 0, 0.1);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.9;
}
.bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../background-login.jpg");
  filter: grayscale(100%);
  background-size: cover;
  background-position: 40% 50%;
}
.half {
  position: relative;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>