<template>
       <div class="full">
    <section class="px-4">
      <v-card class="background card px-4 py-3" dark>test</v-card>
            <v-card class="background card px-4 py-3" dark>test</v-card>
      <v-card class="background card px-4 py-3" dark>test</v-card>
      <v-card class="background card px-4 py-3" dark>test</v-card>
    </section>
    </div>
</template>

<style scoped>
.full {
  width: 100%;
  height: calc(100vh - 112px);
  overflow-y: auto;
}
section {
  width: 100%;
  display: grid;
  grid-gap: 1em;
  align-items: flex-start;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
</style>