<template>
  <div class="full">
    <v-dialog
      v-model="this.$store.state.problemDisplay"
      fullscreen
      hide-overlay
      transition="slide-y-transition"
      origin="center center"
    >
      <Problem />
    </v-dialog>
    <v-dialog
      v-model="dialog"
      fullscreen
      hide-overlay
      transition="dialog-bottom-transition"
      overlay-color="white"
    >
      <v-card>
        <v-toolbar flat>
          <v-btn class="deep-purple--text" icon @click="dialog = false">
            <v-icon>mdi-arrow-left</v-icon>
          </v-btn>
          <v-spacer />
          <v-toolbar-title>
            <span
              class="text-uppercase subtitle-1 font-weight-bold deep-purple--text"
              style="letter-spacing: 4px !important; user-select: none;"
            >Profile</span>
          </v-toolbar-title>
          <v-spacer />
          <v-btn class="transparent--text" style="cursor: none;" icon>
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-toolbar>
        <!-- <div style="display: flex; align-items: center; flex-direction: column;">
          <h4>Email: {{ userEmail }}</h4>
        </div>-->
        <div style="display: flex; justify-content: center;">
          <v-btn
            class="deep-purple white--text mb-2"
            style="width: 300px; letter-spacing: 2px;"
            large
            @click="logout"
          >Logout</v-btn>
        </div>
      </v-card>
    </v-dialog>
    <!-- <section v-if="sectionNo === 0">
      <div class="page">
        <v-card dark style="background: #00897B; cursor: pointer;" class="pa-5">Addition</v-card>
        <v-card dark style="background: #0097A7; cursor: pointer;" class="pa-5">test</v-card>
        <v-card dark style="background: #00897B; cursor: pointer;" class="pa-5">test</v-card>
        <v-card dark style="background: #AFB42B; cursor: pointer;" class="pa-5">test</v-card>
        <v-card dark style="background: #EF6C00; cursor: pointer;" class="pa-5">test</v-card>
        <v-card dark style="background: #C2185B; cursor: pointer;" class="pa-5">test</v-card>
      </div>
    </section>-->
    <v-app-bar short flat fixed>
      <v-toolbar-title>
        <span
          class="title font-weight-bold deep-purple--text"
          style="letter-spacing: 1px !important; user-select: none;"
        >Topics</span>
      </v-toolbar-title>
      <v-spacer />
      <!-- <v-btn class="deep-purple--text" icon @click="dialog = true">
        <v-icon>mdi-magnify</v-icon>
      </v-btn> -->
      <v-btn class="deep-purple--text" icon @click="dialog = true">
        <v-icon>mdi-account-circle-outline</v-icon>
      </v-btn>
    </v-app-bar>

    <h2 class="headline font-weight-bold pl-4 pb-3 deep-purple--text">Browse all</h2>

    <section class="page px-4">
      <topic-card
        id="1"
        name="Basic Addition"
        primaryColor="rgb(63,81,181)"
        secondaryColor="red"
        topic="addition"
        level="Level 1"
        rendering="none"
      />
      <topic-card
        id="2"
        name="Basic Subtraction"
        level="lower pri"
        primaryColor="rgb(255,152,0)"
        secondaryColor="purple"
        topic="subtraction"
        rendering="none"
      />
      <topic-card
        id="3"
        name="Basic Multiplication"
        level="lower pri"
        primaryColor="rgb(0,150,136)"
        secondaryColor="orange"
        topic="multiplication"
        rendering="none"
      />

      <!-- <topic-card
        id="4"
        name="Basic Division"
        level="lower pri"
        primaryColor="rgb(0,188,212)"
        secondaryColor="light-green"
        topic="division"
      /> -->

      <topic-card
        id="6"
        name="Area of Rectangles"
        level="lower pri"
        primaryColor="rgb(219, 49, 46)"
        secondaryColor="teal"
        topic="area_rectangle"
        rendering="2D"
      />

      <topic-card
        id="7"
        name="Perimeter of Rectangles"
        level="lower pri"
        primaryColor="rgb(236,64,122)"
        secondaryColor="deep-purple"
        topic="perimeter_rectangle"
        rendering="2D"
      />

      <topic-card
        id="8"
        name="Volume of Cuboids"
        level="lower pri"
        primaryColor="rgb(	94, 53, 177)"
        secondaryColor="cyan"
        topic="volume_cuboid"
        rendering="3D"
      />

      <!-- <topic-card
        id="9"
        name="TRIANGLE TEST"
        level="lower pri"
        primaryColor="rgb(94, 53, 177)"
        secondaryColor="cyan"
        topic="volume_cuboid"
        rendering="2D"
      /> -->
    </section>

    <!-- <h2 class="headline font-weight-bold pl-4 pt-3 deep-purple--text">Browse all</h2> -->
  </div>
</template>

<script>
import TopicCard from "../components/topic-card";
import Problem from "../components/problem";
import firebase from "firebase";

export default {
  components: {
    TopicCard,
    Problem
  },
  data: () => ({
    dialog: false,
    test: true,
    sectionNo: 0
  }),
  mounted() {},
  methods: {
    logout() {
      const user = firebase.auth().currentUser;

      if (user.isAnonymous) {
        user.delete().catch(function(error) {
          // An error happened.
        });
      } else {
        firebase
          .auth()
          .signOut()
          .then(
            function(test) {},
            function(error) {
              console.log(error);
            }
          );
      }
    }
  }
};
</script>

<style scoped>
.full {
  width: 100%;
  height: calc(100vh - 56px);
  padding-top: 56px;
  overflow-y: auto;
}
/* .section {
  width: 100%;
  height: calc(100vh - 112px);
  padding: 20px;
  padding-top: 0px;
} */
.page {
  width: 100%;
  display: grid;
  grid-gap: 1em;
  align-items: flex-start;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
</style>