<template>
  <div class="bg" :style="{background: this.$store.state.problemBackground}">
    <v-toolbar style="z-index:500;" dark flat class="transparent">
      <v-btn @click="close" icon>
        <v-icon>mdi-close</v-icon>
      </v-btn>
      <v-spacer></v-spacer>
      <!-- <v-btn icon>
        <v-icon @click="history">mdi-history</v-icon>
      </v-btn> -->
      <v-btn icon>
        <v-icon @click="rotate">mdi-screen-rotation</v-icon>
      </v-btn>
    </v-toolbar>
    <div class="flex-cont flex-cont-column">
      <div class="containe" id="sample"></div>
      <div class="containe" style="background: rgba(0, 0, 0, 0.1)">
        <div class="problem-box">
          <h1
            id="problemtext"
            class="white--text problem headline font-weight-light"
            style="align-self: center; text-align: center;"
            @click="toggle"
            transition="slide-x-transition"
          >
            {{
            toggleSolution ?
            'The answer is ' + this.$store.state.problem.solution:
            this.$store.state.problem.problem
            /* this.$store.state.problem.solution "Angle of EZM is 47°." :
            "Triangle DMZ has 3 sides. Find the angle of EZM."
            this.$store.state.problem.problem */
            }}
          </h1>
        </div>
        <div id="verify">
          <v-btn
            @click="nextQuestion(true)"
            rounded
            elevation="2"
            class="mr-2 mb-5 green white--text"
          >
            <v-icon left dark>mdi-check</v-icon>Correct
          </v-btn>
          <v-btn
            @click="nextQuestion(false)"
            rounded
            elevation="2"
            class="ml-2 mb-5 red white--text"
          >
            <v-icon left dark>mdi-close</v-icon>Wrong
          </v-btn>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import topics from "../topics/topics";
import moment from "moment";
export default {
  name: "Problem",
  data: () => ({
    toggleSolution: false,
    toggleCanvas: false,
    indus: 0,
    dataset: [],
    difficulty: 1
  }),
  mounted() {
    window.addEventListener("resize", () => {
      if (document.querySelector("canvas")) {
        document.querySelector("canvas").style.display = "none";
        this.$store.state.engine.onWindowResize();
        document.querySelector("canvas").style.display = "block";
      }
    });
  },
  methods: {
    history() {
      console.log(this.dataset);
    },
    close() {
      this.toggleSolution = false;
      this.indus = 0;
      this.dataset = [];
      this.difficulty = 1;
      document.querySelector("#verify").style.display = "none";

      this.$store.state.engine.remove();

      document
        .querySelector("meta[name=theme-color]")
        .setAttribute("content", "#ffffff");
      this.$store.dispatch("changeProblemDisplay");
    },
    toggle() {
      setTimeout(() => {
        this.toggleSolution = !this.toggleSolution;
        document.querySelector("#verify").style.display = "block";
      }, 200);

      document.querySelector("#problemtext").classList.add("problem-animate");
      document
        .querySelector("#problemtext")
        .addEventListener("animationend", this.removeAnim);
    },
    removeAnim() {
      document
        .querySelector("#problemtext")
        .removeEventListener("animationend", this.removeAnim);
      document
        .querySelector("#problemtext")
        .classList.remove("problem-animate");
    },
    rotate() {
      if (
        document
          .querySelector(".flex-cont")
          .classList.contains("flex-cont-column")
      ) {
        document
          .querySelector(".flex-cont")
          .classList.remove("flex-cont-column");
        document.querySelector(".flex-cont").classList.add("flex-cont-row");
      } else {
        document.querySelector(".flex-cont").classList.remove("flex-cont-row");
        document.querySelector(".flex-cont").classList.add("flex-cont-column");
      }

      document.querySelector("canvas").style.display = "none";
      this.$store.state.engine.onWindowResize();
      document.querySelector("canvas").style.display = "block";
    },
    nextQuestion(status) {
      this.toggleSolution = false;
      document.querySelector("#verify").style.display = "none";
      this.dataset.push({
        difficulty: this.difficulty,
        status
      });
      const arr = [];
      let no_of_true = 0;

      this.$store.dispatch("addHistory", {
        topic: this.$store.state.problemTopic,
        problem: this.$store.state.problem,
        color: this.$store.state.problemBackground,
        difficulty: this.difficulty,
        status,
        date: moment().format('hh:mmA DD/MM/YYYY')
      });

      this.dataset.forEach(one => {
        if (arr.length > 9) {
          arr.shift();
        }
        arr.push(one.status);
      });

      arr.forEach(one => {
        if (one === true) {
          no_of_true++;
        }
      });

      // console.log(arr);
      // console.log((no_of_true / arr.length) * 100);

      if (
        (no_of_true / arr.length) * 100 >= 80 &&
        arr.length >= 5 &&
        this.difficulty < 6
      ) {
        console.log("LEVEL UP");
        this.dataset = [];
        this.difficulty++;
      } else if (
        (no_of_true / arr.length) * 100 <= 50 &&
        arr.length >= 5 &&
        this.difficulty > 1
      ) {
        console.log("LEVEL DOWN");
        this.dataset = [];
        this.difficulty--;
      }

      const problem = topics[this.$store.state.problemTopic](this.difficulty);

      this.$store.dispatch("changeProblem", problem);

      this.$store.state.engine.remove();

      setTimeout(() => {
        this.$store.state.engine.init(
          this.$store.state.renderType,
          this.$store.state.problemTopic,
          problem
        );
      }, 0);

      this.indus++;
    }
  }
};
</script>

<style scoped>
.bg {
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 0;
}
.flex-cont {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
  display: flex;
  overflow: hidden;
}

.flex-cont-row {
  flex-direction: row;
}

.flex-cont-column {
  flex-direction: column;
}

.containe {
  flex-grow: 1;
  flex-basis: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#verify {
  display: none;
}

.problem-box {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center; 
  padding: 20px;
}

.sup {
  position: relative;
  bottom: 1ex;
  font-size: 80%;
}
.problem {
  cursor: pointer;
}
.problem-animate {
  animation-name: myAnimation;
  animation-duration: 400ms;
}
.swipebar {
  width: 100%;
  height: 64px;
}
@keyframes myAnimation {
  0% {
    transform: scale(1) rotateY(0deg);
    opacity: 1;
  }
  50% {
    transform: scale(0.8) rotateY(90deg);
    opacity: 0;
  }
  90% {
    transform: scale(1.1) rotateY(0deg);
    opacity: 1;
  }
  100% {
    transform: scale(1) rotateY(0deg);
    opacity: 1;
  }
}
</style>
