// :style="{background: primaryColor}"
<template>
  <v-card @click.stop="toggleDialog()" :id="'card' + id" class="background card px-4 py-3" dark>
    <h2 class="title word-break">{{name}}</h2>
    <v-card-actions class="pl-0">
      <v-chip
        class="ma-2 ml-0 px-4 font-weight-bold"
        :color="secondaryColor"
        style="letter-spacing: 2px;"
        text-color="white"
      >{{level.toUpperCase()}}</v-chip>
    </v-card-actions>
  </v-card>
</template>

<style scoped>
.card {
  cursor: pointer;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.background {
  background-size: cover;
}
.word-break {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  word-break: break-word;
  hyphens: auto;
}
</style>

<script>
import topics from "../topics/topics";

export default {
  name: "TopicCard",
  props: [
    "id",
    "name",
    "formula",
    "topic",
    "level",
    "primaryColor",
    "secondaryColor",
    "rendering"
  ],
  mounted() {
    const color_rgb = this.primaryColor;
    let color_rgba = color_rgb.replace(/rgb/i, "rgba");

    color_rgba = color_rgba.replace(/\)/i, ",0.7)");

    document.querySelector(
      "#card" + this.id
    ).style.cssText = `background-image: linear-gradient(to right, ${this.primaryColor}, ${color_rgba}), url(https://images.unsplash.com/photo-1516979187457-637abb4f9353?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80)`;
  },
  methods: {
    toggleDialog() {
      this.$store.dispatch("changeProblemDisplay");
      this.$store.dispatch("changeProblemBackground", {
        color: this.primaryColor
      });
      function shadeRGBColor(color, percent) {
        var f = color.split(","),
          t = percent < 0 ? 0 : 255,
          p = percent < 0 ? percent * -1 : percent,
          R = parseInt(f[0].slice(4)),
          G = parseInt(f[1]),
          B = parseInt(f[2]);
        return (
          "rgb(" +
          (Math.round((t - R) * p) + R) +
          "," +
          (Math.round((t - G) * p) + G) +
          "," +
          (Math.round((t - B) * p) + B) +
          ")"
        );
      }
      document
        .querySelector("meta[name=theme-color]")
        .setAttribute("content", shadeRGBColor(this.primaryColor, -0.2));

      const problem = topics[this.topic](1);

      this.$store.dispatch("changeProblem", problem);
      this.$store.dispatch("changeRenderType", this.rendering);

      setTimeout(() => {
        if (this.rendering === "none") {
          this.$store.state.engine.init("2D");
          document.querySelector("#sample").style.display = "none";
        } else {
          this.$store.state.engine.init(
            this.$store.state.renderType,
            this.$store.state.problemTopic,
            problem
          );
          document.querySelector("#sample").style.display = "block";
        }

        this.$store.state.engine.onWindowResize();
      }, 0);

      this.$store.dispatch("changeProblemTopic", {
        topic: this.topic
      });
    }
  }
};
</script>