<template>
  <div class="full">
    

    <v-content class="transparent">
      <slot />
    </v-content>

    <v-bottom-navigation app grow shift style="box-shadow: none;" color="deep-purple" class="white">
      <v-btn style="height:100%;" to="/" replace draggable="false">
        <span>Topics</span>
        <v-icon>mdi-school-outline</v-icon>
      </v-btn>
      <v-btn style="height:100%;" to="/history" replace draggable="false">
        <span>History</span>
        <v-icon>mdi-history</v-icon>
      </v-btn>
    </v-bottom-navigation>
  </div>
</template>

<script>
import firebase from "firebase";

export default {
  name: "App",
  data: () => ({
    dialog: false,
    userEmail: ""
  }),
  mounted() {
    // window.addEventListener("resize", this.resize);
    const user = firebase.auth().currentUser;
    this.userEmail = user.email;
  },
  methods: {
    
  }
};
</script>

<style scoped>
.v-btn:hover:before {
  opacity: 0 !important;
}

.full {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background: white;
}
</style>
